<div class="logo">
  <a href="index.html">
    <img src="/img/4417111_browser_laptop_icon.png" alt="logo" />
  </a>
</div>
<nav>
  <ul class="nav-links">
    <li><a href="index.html">Início</a></li>
    <li><a href="project.html">Projetos</a></li>
    <li><a href="about.html">Sobre</a></li>
    <li><a href="contact.html">Contato</a></li>
  </ul>
</nav>
<button id="darkModeToggle" aria-label="Alternar modo escuro/claro">
        <i class="fas fa-moon"></i> <i class="fas fa-sun"></i>  </button>
<div class="burguer_menu">
  <div class="line1"></div>
  <div class="line2"></div>
  <div class="line3"></div>
</div>
